html
    head
        title Index Page
    body
        h1 Hello HAML & Jade
        h2 Palpit
        jr
        a(href = "http://zhfldi4.blog.me", data-test = "multiple Attribute") Go To Palpit's blog