doctype html
html
    head
        title Index Page
        style. 
            * { margin:0px; padding:0px}
            h1 {color:red;}
        script(src="https://code.jquery.com/jquery-1.12.4.ljs")
        script.
            $(document).ready(function(){
                var alpah = 10;
            });
    body
        // JADE String
        #header
            h1 Helo HAML & Jade
            // 참고 : haml이란? http://zinee-world.tistory.com/404
            h2 Palpit
        hr
        .article
            a(href = "http://zhfldi4.blog.me", data-test = "multiple Attribute") Go To Palpit's blog